body {
  background-color: #5a661f;
}
h1{
  text-align: center;
  margin-top: 10%;
}

.chracter {
  position: relative;
  width: 600px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  background-size: contain;
  margin-top: -10%;
}


.chracter .ear,
.chracter .face {
  background-color: #f5d975;
  border: 10px solid #0d0b06;
}

.ear {
  width: 60px;
  height: 55px;
  display: inline-block;
  position: absolute;
  top: 160px;
  box-shadow: 0 -3px 20px 5px rgba(0, 0, 0, 0.2);
}

.ear::before {
  content: "";
  display: block;
  width: 8px;
  height: 60px;
  background: #0d0b06;
  margin: 25px;
}

.ear.left {
  transform-origin: 100% 100%;
  border-radius: 80px 60px 80px 80px;
  transform: rotate(-15deg);
  position: absolute;
  left: 28%;
}

.ear.left::before {
  border-radius: 50% 10% 0 0;
}

.ear.right {
  transform-origin: 0% 100%;
  border-radius: 60px 80px 80px 80px;
  transform: rotate(15deg);
  right: 28%;
}

.ear.right::before {
  border-radius: 10% 50% 0 0;
}

.face {
  width: 380px;
  height: 300px;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.face .eye {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #0d0b06;
}

.face .eye::before {
  opacity: 0;
  content: "";
  display: block;
  width: 4px;
  height: 12px;
  background-color: red;
  margin: 0 auto;
  border-radius: 50%;
  animation: eyeOpacity 2s ease infinite alternate;
}

.face .eye.left {
  animation: eyeLeftMoving 2s ease infinite alternate;
  position: absolute;
  top: 80px;
  left: 38%;
  transform: rotate(8deg);
}

.face .eye.right {
  animation: eyeRightMoving 2s ease infinite alternate;
  position: absolute;
  top: 80px;
  right: 38%;
  transform: rotate(-8deg);
}

.face .nose {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  padding-top: 10px;
  z-index: 3;
}

.face .nose .black {
  width: 36px;
  height: 22px;
  background-color: #0d0b06;
  border-radius: 40% 40% 50% 50%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 3;
}

.face .nose .white {
  background-color: white;
  border: 8px solid #0d0b06;
  width: 60px;
  height: 40px;
}

.face .nose .white.left {
  transform: rotate(-10deg);
  border-radius: 50px 40px 80px 60px;
}

.face .nose .white.right {
  margin-left: -8px;
  transform: rotate(10deg);
  border-radius: 40px 50px 60px 80px;
}

.face .mouth {
  width: 40px;
  height: 30px;
  border-radius: 0 0 50% 50%;
  background-color: #d7715f;
  border: 8px solid #0d0b06;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, 0);
}

.face .cheek {
  width: 36px;
  height: 20px;
  border-radius: 50%;
  background-color: #d7715f;
  position: absolute;
  top: 32%;
  z-index: 4;
}

.face .cheek.left {
  left: 24%;
}

.face .cheek.right {
  right: 24%;
}
.face .pattern{
  width: 25px;
  height: 100px;
  border-radius: 0 0 50% 50%;
  background-color: #f68d3d;
  border: 8px solid #0d0b06;
  position: absolute;
}
.face .pattern.left-first{
  top: 40%;
  left: 0%;
  transform: rotate(250deg);
}
.face .pattern.left-second{
  top: 53%;
  left: 7%;
  transform: rotate(240deg);
}
.face .pattern.right-first {
  top: 40%;
  right: 0%;
  transform: rotate(-250deg);
}

.face .pattern.right-second {
  top: 55%;
  right: 7%;
  transform: rotate(-240deg);
}

.face .pattern.head-1{
  width: 20px;
  height: 100px;
  top: -40px;
  left: 45%;
}
.face .pattern.head-2 {
  width: 10px;
  height: 30px;
  top: -3px;
  left: 39.5%;
  transform: rotate(90deg);
  border: 6px solid #0d0b06;
    border-top: 0;
}
.face .pattern.head-3 {
  width: 10px;
  height: 30px;
  top: -3px;
  right: 40%;
  transform: rotate(-90deg);
  border-top: 0;
    border: 6px solid #0d0b06;
      border-top: 0;
}
.face .pattern.head-4 {
  width: 10px;
  height: 20px;
  top: 27px;
  left: 41%;
  transform: rotate(90deg);
  border: 6px solid #0d0b06;
    border-top: 0;
}

.face .pattern.head-5 {
  width: 10px;
  height: 20px;
  top: 27px;
  right: 41.5%;
  transform: rotate(-90deg);
  border: 6px solid #0d0b06;
  border-top: 0;
}