body{
    height: 100vh;
    background-image: url("../images/image\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
body main{
    width: 300px;
    height: 606px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section{
    width: 300px;
    height: 500px;
    border-radius: 0px 0px 30px 30px;
    border-bottom: 10px solid #46260E;
    background: #9C6035;
}
main h1{
    color: #FFF;
    font-family: Arial;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 10px auto auto 20px;
}
main p{
    width: 260px;
    height: 130px;
    color: #E8BC9C;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin : 10px 20px auto 20px;
}